/misc/UCD
ariadne
test.*
luacov.*
*.o
*.so
lcov.info
*.gcda
*.gcno
*.dSYM

*.dll
*.exp
*.lib
*.pdb

/luarocks
/lua
/lua_modules
/.luarocks
/luarocks
*.src.rock

/src/.lib.rs.pending-snap
/target
/Cargo.lock